/* 2. Theme - Default */
:root {
  /* Light theme colors */
  --colors-accent-light: #f5f5f5;
  --colors-accent-dark: #404040;
  --colors-accent-foreground-light: #171717;
  --colors-accent-foreground-dark: #fafafa;
  --colors-background-light: #ffffff;
  --colors-background-dark: #0a0a0a;
  --colors-border-light: #e5e5e5;
  --colors-border-dark: #FFFFFF1A;
  --colors-card-light: #ffffff;
  --colors-card-dark: #171717;
  --colors-card-foreground-light: #0a0a0a;
  --colors-card-foreground-dark: #fafafa;
  --colors-destructive-light: #dc2626;
  --colors-destructive-dark: #f87171;
  --colors-destructive-foreground-light: #fef2f2;
  --colors-destructive-foreground-dark: #fef2f2;
  --colors-foreground-light: #0a0a0a;
  --colors-foreground-dark: #fafafa;
  --colors-input-light: #e5e5e5;
  --colors-input-dark: #FFFFFF26;
  --colors-muted-light: #f5f5f5;
  --colors-muted-dark: #262626;
  --colors-muted-foreground-light: #737373;
  --colors-muted-foreground-dark: #a3a3a3;
  --colors-popover-light: #ffffff;
  --colors-popover-dark: #262626;
  --colors-popover-foreground-light: #0a0a0a;
  --colors-popover-foreground-dark: #fafafa;
  --colors-primary-light: #171717;
  --colors-primary-dark: #e5e5e5;
  --colors-primary-foreground-light: #fafafa;
  --colors-primary-foreground-dark: #171717;
  --colors-ring-light: #a3a3a3;
  --colors-ring-dark: #737373;
  --colors-secondary-light: #f5f5f5;
  --colors-secondary-dark: #262626;
  --colors-secondary-foreground-light: #171717;
  --colors-secondary-foreground-dark: #fafafa;
  --colors-chart-1-light: #ea580c;
  --colors-chart-1-dark: #1d4ed8;
  --colors-chart-2-light: #0d9488;
  --colors-chart-2-dark: #10b981;
  --colors-chart-3-light: #164e63;
  --colors-chart-3-dark: #f59e0b;
  --colors-chart-4-light: #fbbf24;
  --colors-chart-4-dark: #a855f7;
  --colors-chart-5-light: #f59e0b;
  --colors-chart-5-dark: #f43f5e;
  --colors-sidebar-light: #fafafa;
  --colors-sidebar-dark: #171717;
  --colors-sidebar-foreground-light: #0a0a0a;
  --colors-sidebar-foreground-dark: #fafafa;
  --colors-sidebar-primary-light: #171717;
  --colors-sidebar-primary-dark: #1d4ed8;
  --colors-sidebar-primary-foreground-light: #fafafa;
  --colors-sidebar-primary-foreground-dark: #fafafa;
  --colors-sidebar-accent-light: #f5f5f5;
  --colors-sidebar-accent-dark: #262626;
  --colors-sidebar-accent-foreground-light: #171717;
  --colors-sidebar-accent-foreground-dark: #fafafa;
  --colors-sidebar-border-light: #e5e5e5;
  --colors-sidebar-border-dark: #FFFFFF1A;
  --colors-sidebar-ring-light: #a3a3a3;
  --colors-sidebar-ring-dark: #737373;
  --font-font-sans: Geist;
  --font-font-serif: Georgia;
  --font-font-mono: Geist Mono;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --container-3xs: 256px;
  --text-xs-font-size: 12px;
  --text-xs-line-height: 16px;
  --text-sm-font-size: 14px;
  --text-sm-line-height: 20px;
  --text-base-font-size: 16px;
  --text-base-line-height: 24px;
  --text-lg-font-size: 18px;
  --text-lg-line-height: 28px;
  --text-xl-font-size: 20px;
  --text-xl-line-height: 28px;
  --text-2xl-font-size: 24px;
  --text-2xl-line-height: 32px;
  --text-3xl-font-size: 30px;
  --text-3xl-line-height: 36px;
  --text-4xl-font-size: 36px;
  --text-4xl-line-height: 40px;
  --text-5xl-font-size: 48px;
  --text-5xl-line-height: 48px;
  --text-6xl-font-size: 60px;
  --text-6xl-line-height: 60px;
  --text-7xl-font-size: 72px;
  --text-7xl-line-height: 72px;
  --text-8xl-font-size: 96px;
  --text-8xl-line-height: 96px;
  --text-9xl-font-size: 128px;
  --text-9xl-line-height: 128px;
  --container-2xs: 288px;
  --container-xs: 320px;
  --container-sm: 384px;
  --container-md: 448px;
  --container-lg: 512px;
  --container-xl: 576px;
  --container-2xl: 672px;
  --container-3xl: 768px;
  --container-4xl: 896px;
  --container-5xl: 1024px;
  --container-6xl: 1152px;
  --container-7xl: 1280px;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --tailwind-radius-xs: 2px;
  --tailwind-radius-sm: 6px;
  --tailwind-radius-md: 8px;
  --tailwind-radius-lg: 10px;
  --tailwind-radius-xl: 14px;
  --tailwind-radius-2xl: 16px;
  --tailwind-radius-3xl: 24px;
  --tailwind-radius-4xl: 32px;
  --shadow-2xs-offset-x: 0px;
  --shadow-2xs-offset-y: 1px;
  --shadow-2xs-blur-radius: 0px;
  --shadow-2xs-spread-radius: 0px;
  --shadow-2xs-color: #0000000D;
  --shadow-xs-offset-x: 0px;
  --shadow-xs-offset-y: 1px;
  --shadow-xs-blur-radius: 2px;
  --shadow-xs-spread-radius: 0px;
  --shadow-xs-color: #0000000D;
  --shadow-sm-1-offset-x: 0px;
  --shadow-sm-1-offset-y: 1px;
  --shadow-sm-1-blur-radius: 3px;
  --shadow-sm-1-spread-radius: 0px;
  --shadow-sm-1-color: #0000001A;
  --shadow-sm-2-offset-x: 0px;
  --shadow-sm-2-offset-y: 1px;
  --shadow-sm-2-blur-radius: 2px;
  --shadow-sm-2-spread-radius: -1px;
  --shadow-sm-2-color: #0000001A;
  --inset-shadow-2xs-offset-x: 0px;
  --inset-shadow-2xs-offset-y: 1px;
  --inset-shadow-2xs-blur-radius: 0px;
  --inset-shadow-2xs-spread-radius: 0px;
  --inset-shadow-2xs-color: #0000000D;
  --inset-shadow-xs-offset-x: 0px;
  --inset-shadow-xs-offset-y: 1px;
  --inset-shadow-xs-blur-radius: 1px;
  --inset-shadow-xs-spread-radius: 0px;
  --inset-shadow-xs-color: #0000000D;
  --inset-shadow-sm-offset-x: 0px;
  --inset-shadow-sm-offset-y: 2px;
  --inset-shadow-sm-blur-radius: 4px;
  --inset-shadow-sm-spread-radius: 0px;
  --inset-shadow-sm-color: #0000000D;
  --drop-shadow-xs-offset-x: 0px;
  --drop-shadow-xs-offset-y: 1px;
  --drop-shadow-xs-blur-radius: 1px;
  --drop-shadow-xs-spread-radius: 0px;
  --drop-shadow-xs-color: #0000000D;
  --drop-shadow-sm-offset-x: 0px;
  --drop-shadow-sm-offset-y: 1px;
  --drop-shadow-sm-blur-radius: 2px;
  --drop-shadow-sm-spread-radius: 0px;
  --drop-shadow-sm-color: #00000026;
  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;
  --shadow-md-1-offset-x: 0px;
  --shadow-md-1-offset-y: 4px;
  --shadow-md-1-blur-radius: 6px;
  --shadow-md-1-spread-radius: -1px;
  --shadow-md-1-color: #0000001A;
  --shadow-md-2-offset-x: 0px;
  --shadow-md-2-offset-y: 2px;
  --shadow-md-2-blur-radius: 4px;
  --shadow-md-2-spread-radius: -2px;
  --shadow-md-2-color: #0000001A;
  --shadow-lg-1-offset-x: 0px;
  --shadow-lg-1-offset-y: 10px;
  --shadow-lg-1-blur-radius: 15px;
  --shadow-lg-1-spread-radius: -3px;
  --shadow-lg-1-color: #0000001A;
  --shadow-lg-2-offset-x: 0px;
  --shadow-lg-2-offset-y: 4px;
  --shadow-lg-2-blur-radius: 6px;
  --shadow-lg-2-spread-radius: -4px;
  --shadow-lg-2-color: #0000001A;
  --shadow-xl-1-offset-x: 0px;
  --shadow-xl-1-offset-y: 20px;
  --shadow-xl-1-blur-radius: 25px;
  --shadow-xl-1-spread-radius: -5px;
  --shadow-xl-1-color: #0000001A;
  --shadow-xl-2-offset-x: 0px;
  --shadow-xl-2-offset-y: 8px;
  --shadow-xl-2-blur-radius: 10px;
  --shadow-xl-2-spread-radius: -6px;
  --shadow-xl-2-color: #0000001A;
  --shadow-2xl-offset-x: 0px;
  --shadow-2xl-offset-y: 25px;
  --shadow-2xl-blur-radius: 50px;
  --shadow-2xl-spread-radius: -12px;
  --shadow-2xl-color: #00000040;
  --drop-shadow-md-offset-x: 0px;
  --drop-shadow-md-offset-y: 3px;
  --drop-shadow-md-blur-radius: 3px;
  --drop-shadow-md-spread-radius: 0px;
  --drop-shadow-md-color: #0000001F;
  --drop-shadow-lg-offset-x: 0px;
  --drop-shadow-lg-offset-y: 4px;
  --drop-shadow-lg-blur-radius: 4px;
  --drop-shadow-lg-spread-radius: 0px;
  --drop-shadow-lg-color: #00000026;
  --drop-shadow-xl-offset-x: 0px;
  --drop-shadow-xl-offset-y: 9px;
  --drop-shadow-xl-blur-radius: 7px;
  --drop-shadow-xl-spread-radius: 0px;
  --drop-shadow-xl-color: #0000001A;
  --drop-shadow-2xl-offset-x: 0px;
  --drop-shadow-2xl-offset-y: 25px;
  --drop-shadow-2xl-blur-radius: 25px;
  --drop-shadow-2xl-spread-radius: 0px;
  --drop-shadow-2xl-color: #00000026;
}