@import "tailwindcss";
@import "tw-animate-css";
@plugin 'tailwind-scrollbar' {
    nocompatible: true;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterVariable-Italic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 100%;

  /* Light theme colors by default */
  color-scheme: light;
  color: #334155; /* slate 700 */
  background-color: #ffffff;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #252525;
  --border: #ebebeb;
  --sidebar-border: #ebebeb;
  --ring: #b4b4b4;
}

html {
  overflow: hidden;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}

@theme {
  --font-sans: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'sans-serif';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-sidebar-border: var(--sidebar-border);
}

.dark {
  --background: #252525;
  --foreground: #fbfbfb;
  --border: rgba(255, 255, 255, 0.1);
  --ring: #8e8e8e;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #8e8e8e;
}

/* Dark mode overrides - activated when .dark class is applied to html */
.dark {
  color-scheme: dark;
  color: #f9fafb; 
  background-color: #111827; 
}

.dark button {
  background-color: #1f2937; 
}
 

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body{
    @apply font-sans text-sm font-normal border-border outline-ring/50;
  }
}

@layer utilities {
  .text-title {
    @apply text-2xl font-semibold text-slate-900;
  }
  .text-subtitle {
    @apply text-base font-normal;
  }
  .text-btn {
    @apply text-sm font-medium;
  }
  .text-table-header {
    @apply text-sm font-medium;
  }
  .text-primary {
    @apply text-sm font-normal;
  }
  .text-subtle {
    @apply text-xs font-normal;
  }
}